.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 100;
  top:0;
  box-shadow: 0px 5px 8px -9px rgba(0,0,0, .75);
padding: 0 1rem;

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    & > img {
      width: 45px;
      object-fit: contain;
    }
  }
  &__input{
      display: flex;
      align-items: center;
      background-color: #eff2f5;
      padding: 10px;
      border-radius: 999px;
      margin-left: 10px;

      > input {
          border: none;
          outline-style: none;
          background-color: transparent;
      }
  }
  &__middle {
      display: flex;
  }
  &__option {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 30px;
      cursor: pointer;
      &--active > .MuiSvgIcon-root{
        color: #2e81f4 !important;
        align-items: center;
        padding: 0 30px;
        border-bottom: 4px solid #2e81f4;
      }
  }
  &__option:hover:not(.header__option--active){
      align-items: center;
      background-color: #eff2f5;
      border-radius: 10px;

  }
  &__option .MuiSvgIcon-root {
      color: grey;
  }
  &__option .MuiSvgIcon-root:hover {
    color: #2e81f4;

}
  &__right{
      display: flex;
  }

  &__info{
      display: flex;
      align-items: center;
      & > h4 {
          margin-left: 10px;
      }
  }
}
