.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: lightgray;
        border-radius: 10px;
    }
    & > h4 {
        margin-left: 20px;
        font-weight: 600;
    }
    & > .MuiSvgIcon-root {
        font-size: x-large;
        color: #2e81f4;
    }
}